version: '3.9'
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: csrag
      POSTGRES_USER: csrag
      POSTGRES_PASSWORD: csrag
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
